<!-- Search Bar -->
<ion-grid id="topUI">
    <ion-row>
        <ion-col size="10">
          <ion-searchbar *ngIf="popSearch" placeholder="Chemical Name" color = "dark" animated [(ngModel)]="searchQuery" 
          (search)="search($event,true)" id="searchBar"></ion-searchbar>
      </ion-col>
      <ion-col size="1">
          <ion-button *ngIf="!favorite" (click)="addFavorite()" color = "tertiary" id="favorite">
              <ion-icon  name="heart-outline"></ion-icon>
          </ion-button>
          <ion-button *ngIf="favorite" (click)="removeFavorite()" color = "tertiary"  id="favorite">
              <ion-icon  name="heart-sharp"></ion-icon>
          </ion-button>       
      </ion-col>

    </ion-row>
    <!-- <ion-row>
    <ion-col size = "10">
        <!-- empty for spacing
    </ion-col>
    <ion-col size="2">
        <ion-button (click)="saveCanvas()" color = "tertiary" >
            <ion-icon  name="download-sharp"></ion-icon>
        </ion-button>  
    </ion-col>
    </ion-row> -->
</ion-grid>

<!-- NGL Viewer -->
<div id="threed"></div>  
