#searchBar{
}
#topUI{
    position: absolute;
    top:3vh;
    width: 100vw;
    z-index: 2;

}
#threed{
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.toast{
    text-align: center;
}

#bottomUI{
    position: absolute;
    height:5vh;
    top:75vh;
    width:100vw ;
    color:black;
    font-size: 5vh;
    align-content: center;
    z-index: 2;
}