#twod{
    background-color: white;
}
#searchBar{
}
#topUI{
    position: absolute;
    top:1vh;
    width: 100vw;

}

#bottomUI{
    position: absolute;
    height:10vh;
    top:70vh;
    width:100vw ;
    color:black;
    font-size: 5vh;
}