#twod{
    background-color: white;
}
#searchBar{
}
#topUI{
    position: absolute;
    top:3vh;
    width: 100vw;

}

#bottomUI{
    position: absolute;
    height:5vh;
    top:75vh;
    width:100vw ;
    color:black;
    font-size: 5vh;
    align-content: center;
}