<ion-header>
  <ion-toolbar>
    <ion-title >Settings</ion-title>
    <ion-button color="danger" (click)="dismiss()" slot="end">
      <ion-icon  name="close-sharp"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        Explicit Hydrogen
      </ion-label>
      <!-- Binds isImplicit to the value of the toggle below  -->
      <ion-toggle [(ngModel)]="settings.explicitHydrogens" ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>
        Display Atoms as Balls
      </ion-label>
      <ion-toggle [(ngModel)]="this.atomBalls"></ion-toggle>
    </ion-item>
  <ion-item>
    <ion-label>
      Terminal Carbons
    </ion-label>
    <ion-toggle [(ngModel)]="settings.terminalCarbons"></ion-toggle>
  </ion-item>
  <ion-item>
    <p id="contact">Reach out to contact@dylanriffle.com for any feature suggestions</p>
  </ion-item>
</ion-list>
</ion-content>
