<ion-header>
  <ion-toolbar>
    <ion-title >Settings</ion-title>
    <ion-button color="danger" (click)="dismiss()" slot="end">
      <ion-icon  name="close-sharp"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        Implicit Hydrogen
      </ion-label>
      <!-- Binds isImplicit to the value of the toggle below  -->
      <ion-toggle (ngModelChange)="updateIsImplicit($event)" [(ngModel)]="isImplicit" ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>
        Implicit Hydrogen
      </ion-label>
      <ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
